
.calculator, .display{
    border: 2px solid rgb(134, 134, 134);
}

.calculator{
    height: 45vh;
    width: 65vw;
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2%;
    font-size: 30px;
    border-radius: 3%;
    background-color: #cfc9d1;
}

@media only screen and (min-width: 992px){
    .calculator{
        height: 55vh;
        width: 25vw;
    }
}

body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./philipp-deus-ymeYzNZGUFg-unsplash.jpg");
}

.display{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: 1/ 1/ span 1/ span 5;
    padding: 2%;
    border-radius: 7%;
}

.calculator > .equals{
    grid-area: 5/ 4/ span 1/ span 2;
}

.zero{
    grid-area: 5/ 1/ span 1/ span 3;
    font-size: 20px;
}

button {
    font-size: large;
    border: 1px solid rgb(168, 160, 160);
    border-radius: 4%;
    background-color: #dfe0e5;
}
